      .facebutton {
        background-color: yellow;
        border: none;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
      }
      .hatbutton {
        background-color: brown;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
      }
      .glassesbutton {
        background-color: black;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
      }
      .hat {
        position: absolute;
      margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
        z-index: 2;
      }
      .face {
        position: absolute;
            margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
        z-index: 0;
      }
      .glasses {
        position: absolute;
            margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
        z-index: 1;
      }
