@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
div, p, a {
  font-family: 'Dosis', sans-serif;
  color: white;
  text-shadow:
  1px 1px 0 black;
}

.settings{
  position: absolute;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
}

.settings:hover{
  cursor:grabbing;
}

.glasses, .accessories, .leye, .reye, .mouth, .highlights, .face {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} 
.glasses {
  z-index: 5;
}

.accessories {
  z-index: 5;
}

.leye {
  z-index: 3;
}

.reye {
  z-index: 2;
}

.mouth {
  z-index: 4;
}

.highlights {
  z-index: 1;
}

.face {
  z-index: 0;
}

.download {
  background-color: black;
  padding: 10px;
}

button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;  
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

button:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

button:active{
  background-color: black;
}

.downloadmenu {
  font-family:verdana;
  color: white;
  display: none;
  position: absolute;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
}

.downloadmenu ul {
  list-style: none;
  padding: 8px 0;
  margin: 0;
}

.downloadmenu li {
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
}